<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
        android:name="com.monsters.mobimon.feature.auth.preview.ConversationPreviewActivity"
        android:exported="true"
        android:windowSoftInputMode="adjustResize"
        android:label="MobiMon conversation UI preview" />
  </application>
</manifest>
